<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keendo.user.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.keendo.user.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR"/>
        <result column="open_id" property="openId" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List" >
        `id`, `nickname` ,`head_img_url`,`open_id`,`sex`,`city`,`province`,`country`,`create_time`
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from e_user where id  = #{id}
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into e_user (`nickname` ,`head_img_url`,`open_id`,`sex`,`city`,`province`,`country`,`create_time`)
        values
        (#{nickname},#{headImgUrl},#{supportCount},#{openId},#{sex},#{city},#{province},#{country},#{createTime})
    </insert>

    <update id="update">
        update e_user set
        nickname = #{nickname},
        head_img_url = #{headImgUrl},
        open_id = #{openId},
        sex = #{sex},
        city = #{city},
        province = #{province},
        country = #{country},
        where id = #{id}
    </update>

    <select id="countByOpenId" resultType="java.lang.Integer">
        select count(id) from  e_user where open_id = #{openId}
    </select>

    <select id="selectByOpenId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from e_user where open_id = #{openId}
    </select>

</mapper>