<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keendo.biz.mapper.TourOrderMapper">
    <resultMap id="baseResultMap" type="com.keendo.biz.model.TourOrder">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="tour_product_id" property="tourProductId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id` , `tour_product_id` , `create_time` , `state` , `user_id` ,`order_sn`
    </sql>

    <insert id="insert" parameterType="com.keendo.biz.model.TourOrder" useGeneratedKeys="true" keyProperty="id">
        insert into
            e_tour_order
                (`tour_product_id` , `create_time` , `state` , `user_id` ,`order_sn`)
        values ( #{tourProductId} ,#{createTime} ,#{state} ,#{userId},#{orderSn} )
    </insert>


    <select id="selectByTourProductId" parameterType="map" resultMap="baseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        e_tour_order
        WHERE
        tour_product_id = #{tourProductId}
        limit
        #{startIndex} ,#{pageSize}
    </select>


    <select id="countByTourProductId" parameterType="map" resultType="java.lang.Integer">
        SELECT
            count(id)
        FROM
        e_tour_order
        WHERE
        tour_product_id = #{tourProductId}
    </select>


    <update id="updateState" parameterType="map">
        UPDATE
            e_tour_order
        SET
        state = #{toState}
        WHERE
        id = #{orderId}
        AND
        state = #{fromState}
    </update>

    <select id="selectById" resultMap="baseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        e_tour_order
        WHERE
        id = #{id}
    </select>

    <select id="selectByOrderSn" resultMap="baseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        e_tour_order
        WHERE
        order_sn = #{orderSn}
    </select>

    <update id="updateByStateAndCreateTime" parameterType="map">
        UPDATE
            e_tour_order
        SET
            state = #{toState}
        WHERE
            create_time &lt;= #{createTime}
        AND
            state = #{fromState}
    </update>


    <select id="selectByStateAndCreateTime" parameterType="map" resultMap="baseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        e_tour_order
        WHERE
        create_time &lt;= #{createTime}
        AND
        state = #{state}
    </select>

    <select id="selectByProductIdAndUserId" parameterType="map" resultMap="baseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        e_tour_order
        WHERE
        tour_product_id = #{productId}
        AND
        user_id = #{userId}
    </select>

    <select id="selectOrderedUserIdList" resultType="java.lang.Integer">
        select user_id from e_tour_order where tour_product_id = #{tourProductId} and (state = #{state1} or state = #{state2})
        order by create_time ASC limit 3
    </select>


    <select id="selectPageBydAndUserId" resultMap="baseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from
        e_tour_order
        where
        user_id = #{userId}
        order by create_time desc
        limit #{startIndex} ,#{pageSize}
    </select>

    <select id="countByTourProductIdAndStates" resultType="java.lang.Integer">
        select count(id)from e_tour_order where tour_product_id = #{tourProductId} and state in
        <foreach collection="states" item="state" index="index" separator=",">
            (#{state})
        </foreach>
    </select>

</mapper>
