<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keendo.biz.mapper.TourProductMapper" >
  <resultMap id="BaseResultMap" type="com.keendo.biz.model.TourProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cover_img_url" property="coverImgUrl" jdbcType="VARCHAR" />
    <result column="poster_url" property="posterUrl" jdbcType="VARCHAR" />
    <result column="top_poster_url" property="topPosterUrl" jdbcType="VARCHAR" />
    <result column="departure_time" property="departureTime" jdbcType="TIMESTAMP" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="tour_day" property="tourDay" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="max_participant_num" property="maxParticipantNum" jdbcType="INTEGER" />
    <result column="wx_pub_url" property="wxPubUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>


  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.keendo.biz.model.TourProduct">
    <result column="tour_summary" jdbcType="LONGVARCHAR" property="tourSummary" />
    <result column="detail_html" jdbcType="LONGVARCHAR" property="detailHtml" />
  </resultMap>

  <sql id="Base_Column_List" >
     `id`, `title`, `cover_img_url`, `departure_time`, `deadline`, `tour_day`, `price`, `max_participant_num` , `wx_pub_url`,`create_time`,`state`,`poster_url`,`top_poster_url`
  </sql>

  <sql id="Blob_Column_List">
    `tour_summary` , `detail_html`
  </sql>

  <insert id="insert" parameterType="com.keendo.biz.model.TourProduct" >
    insert into e_tour_product
    (`title`, `cover_img_url`, `departure_time`, `deadline`, `tour_day`, `price`, `max_participant_num` , `wx_pub_url`,`create_time`,`tour_summary`,`state`,`poster_url`,`top_poster_url`,`detail_html`)
    values
    ( #{title},#{coverImgUrl},#{departureTime},#{deadline},#{tourDay},IFNULL(#{price},0),#{maxParticipantNum},#{wxPubUrl},#{createTime},#{tourSummary},#{state},#{posterUrl},#{topPosterUrl},#{detailHtml})
  </insert>


  <select id="selectById" resultMap="ResultMapWithBLOBs">
    select <include refid="Base_Column_List"/> , <include refid="Blob_Column_List"/> from e_tour_product where id = #{id}
  </select>

  <select id="selectByPage" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" /> , <include refid="Blob_Column_List"/>
    from e_tour_product
    order by create_time desc
    limit #{startIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPageAndState" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" /> , <include refid="Blob_Column_List"/>
    from e_tour_product where state != #{state}
    order by state ASC , deadline ASC
    limit #{startIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>

  <select id="countByState" resultType="java.lang.Integer">
    select count(id) from e_tour_product where state != #{state}
  </select>
  
  <select id="count" resultType="java.lang.Integer">
    select 
    count(id)
    from e_tour_product
  </select>


  <update id="updateByPrimaryKey" parameterType="com.keendo.biz.model.TourProduct" >
    update e_tour_product
    set
      title = #{title},
      tour_summary = #{tourSummary},
      cover_img_url = #{coverImgUrl},
      poster_url = #{posterUrl},
      top_poster_url = #{topPosterUrl},
      departure_time = #{departureTime},
      deadline = #{deadline},
      tour_day = #{tourDay},
      price = #{price},
      max_participant_num = #{maxParticipantNum},
      wx_pub_url = #{wxPubUrl},
      state = #{state},
      detail_html = #{detailHtml}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from e_tour_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  

  <update id="updateStateById">
    update e_tour_product set state = #{state} where id = #{id}
  </update>

  <update id="updateStateByIdAndFromState" parameterType="map" >
    update e_tour_product set state = #{fromState} where id = #{id} and state = #{toState}
  </update>
  
  <select id="selectByLTState" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from e_tour_product where state &lt; #{state}
  </select>
</mapper>